{% extends "account/_base.html" %}
{% block content %}

{% load i18n %}





<div class="container">
    <div class="row" style="margin-top: 100px;">
        <div class="col-12 text-center">
            <h1>{% trans "Log out" %}</h1>
        </div>
        <div class="row mt-5">
            <div class="col-6" style="margin-left:480px;">
                <p>{% trans ' 로그아웃 하시겠습니까?' %}</p>
                <div class="col-6">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="class" style="margin-left: 30px;">
                            <button type="submit" class="btn btn-primary mt-3">{% trans 'Log out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}